{% extends 'base.html' %}


{% block page_title %}
    Удалить пост
{% endblock %}
{% block main_container %}
    {% load static %}
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <h2 class=" my-5">Удалить пост {{ post.title }}</h2>
                    <div class="form-group">
                        <form method="post">
                            {% csrf_token %}
                            <strong>Вы уверены?</strong>
                            <p></p>
                            <button class="btn btn-outline-dark">Удалить пост</button>
                            <a class="btn btn-dark" href="{% url 'blogs:post_detail' post.id %}">Вернуться назад</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}