{% extends 'base.html' %}


{% block page_title %}
    Travel blog
{% endblock %}

{% block main_container %}
    <div class="container">
        <h2>Блоги о различных путешествиях</h2>
    </div>
    {#        <a href="{% url 'blogs: post_list'%}"#}
    {% if user.is_authenticated %}
        <a href="{% url 'register:logout' %}">Выйти ({{ user.username }})</a>
        <div>
            <a href="{% url 'blogs:post_create' %}">New post</a>
        </div>
    {% else %}
        <a href="{% url 'register:login' %}">Войти</a>
    {% endif %}
    <p>
        {% if not user.is_authenticated %}
            <a href="{% url 'register:user_create' %}">Регистрация</a>
        {% endif %}
    </p>

    <div class="posts_list">
        <div class="container py-4">
            {% for post in post_list %}
                <div class="p-3 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">{{ post.title }}</h1>
                        <p class="col-md-8 fs-4">{{ post.body }}</p>
                        <button class="btn btn-primary btn-lg" type="button">Комментарии</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <ul>
            {% for post in post_list %}
                <li>
                    {{ post }}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}