{% extends 'base.html' %}


{% block page_title %}
    Travel blog
{% endblock %}

{% block main_container %}
    <div class="container-md">
        <a href="{% url 'blogs:index' %}">На главную</a>
        {% if user.is_authenticated %}
            <a href="{% url 'register:logout' %}">Выйти ({{ user.username }})</a>
            <div>
                <div class="post-create-form">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="save">
                    </form>
                </div>
            </div>
            </div>
        {% else %}
            <a href="{% url 'register:login' %}">Войти</a>
        {% endif %}


{% endblock %}